<%# add navigation links to this file %>
<li>
    <%= link_to 'Início', root_path %>
</li>
<li>
    <%= link_to 'Sobre', page_path('about') %>
</li>
<li>
    <%= link_to 'Cardápio', products_path('index') %>
</li>
<li>
    <%= link_to 'Contato', page_path('contact') %>
</li>
